/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

html,
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

html {
  font-size: 16px;
}

button {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

/* Navigation */

.navbar-brand > img {
  max-height: 40px;
  width: auto;
}

.navbar-light .navbar-toggler {
  border: 0;
  right: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #292b2c;
  font-weight: 600;
  text-transform: uppercase;
}

/* Challenge: can you make the navigation links orange on hover? */

/*  I used dev tools to determine where the color was being set which 
    turned out to be in a bootstrap script that had a higher specificity than a class or element selector
    ( https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css ) so I used an id 
    selector as it has a higher specificity which worked :)*/
#navbarSupportedContent > ul > li > a:hover {
  color: #c05326;
}

/* Buttons */

.button:hover,
.button:focus {
  background-color: #934423;
}

.orange-red-btn {
  background-color: #c05326;
  width: 9.3rem;
}

.white-btn {
  background-color: #fff;
  color: #c05326;
  width: 5.3rem;
}

/* Alert */

.alert {
  position: relative;
  margin-bottom: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid #dccdc6;
  border-radius: 0;
  font-size: 0.85rem;
  line-height: 1.3em;
  background: transparent;
  color: #292b2c;
}

.alert:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #c05326;
}

/* Jumbotron */

.jumbotron {
  background-image: url("../images/header.jpg");
  border-radius: 0;
  color: #fff;
}

.boxCardContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.boxCardContainer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #000;
  width: 9rem;
  height: 9rem;
  background-color: #eceeef;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Headings */

.heading-underline {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dccdc6;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-underline:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 25%;
  height: 1px;
  max-width: 100px;
  background: #c05326;
}

/* Article */

.article {
  margin-bottom: 2em;
}

.article__image {
  object-fit: contain;
  width: 5rem;
}

.article__title {
  margin-bottom: 0.5em;
  font-size: 1rem;
  font-weight: 700;
}

.article__read-more a {
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: uppercase;
}

.article__read-more a:hover,
.article__read-more a:focus {
  text-decoration: none;
}

.article__read-more .fa {
  margin-right: 0.5em;
  color: #c05326;
}

.article__read-more:last-child {
  margin-bottom: 0;
}

/* Footer */

.footer {
  margin-top: 2em;
}

.footer p {
  border-top: 1px solid #dccdc6;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Media queries */

@media screen and (min-width: 992px) {
  .navbar-brand > img {
    max-height: 80px;
  }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .orange-red-btn {
    width: 7rem;
    font-size: 0.75rem;
  }

  .white-btn {
    width: 4rem;
    font-size: 0.75rem;
  }
}

/* Fluid typography formula */
@media (min-width: 640px) and (max-width: 1439px) {
  font-size: calc(16px + (23 - 16) * (100vw - 640px) / (1439 - 640));
}

/* Define max font size */
@media (min-width: 1440px) {
  font-size: 23px;
}
