/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

 html,
 body {
	 font-family: "Source Sans Pro",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
 }
 
 .site-footer {
	 margin-top: 4em;
 }
 
 .site-footer p {
	 border-top: 1px solid #dccdc6;
	 padding-top: 2em;
	 padding-bottom: 2em;
 }
 
 .navbar-brand > img {
	 max-height: 40px;
	 width: auto;
 }
 
 .navbar-light .navbar-nav .nav-link {
	 color: #292b2c;
	 font-weight: 600;
	 text-transform: uppercase;
 }
 .nav-link {
	 padding: 1rem 2rem;
	 margin: 1rem 2rem;
	 border: 1px solid transparent;
 }
 .nav-link:hover{
	border: 1px solid transparent;
}
.nav-link:focus{
	border: 1px solid transparent;
	outline: none;
}
 /* Buttons */
 .btn {
	 border-radius: 0.3em;
	 transition: all .4s;
	 font-size: 1.5rem;
	 
 }
 .btn-red {
	 background-color:#ce5f31; 
	 align-self: center;
 }
 .btn-red:hover, .btn-red:focus{
	 background-color:blue;
 }
 .btn-white:hover, .btn-white:focus{
	 background-color:green;
	 color:white;
 }
 .btn-primary, .btn-secondary {
	 border: none;
 }
 /* Alert */
 .alert {
	 position: relative;
	 margin-top: 2em;
	 margin-bottom: 3em;
	 padding-top: 1.5em;
	 padding-bottom: 1.5em;
	 border: 1px solid #dccdc6;
	 border-radius: 0;
	 font-size: 0.85rem;
	 line-height: 1.3em;
	 background: transparent;
	 color: #292b2c;
 }
 
 .alert:before {
	 content: '';
	 position: absolute;
	 left: -1px;
	 top: 0;
	 height: 100%;
	 width: 1px;
	 background: #ce5f31;
 }
 
 /* Jumbotron */
 .jumbotron {
	 border-radius: 0;
	 background-image: url("../images/header-bike.jpg");
	 background-size: cover;
	 /* opacity: .9; */
	 /* font-weight: 900; */
	 filter: brightness(50%);
 }
 .display-3{
	color:rgba(255, 255, 255, 0.9);
	font-weight: 500;
 }
 .lead{
	color:rgb(255, 255, 255);
	font-weight: 400;
	font-size: 2rem;
 }
 /* Headings */
 .heading-underline {
	 position: relative;
	 margin-bottom: 2em;
	 padding-bottom: 0.5em;
	 border-bottom: 1px solid #dccdc6;
	 font-size: 1rem;
	 font-weight: 600;
	 text-transform: uppercase;
 }
 
 .heading-underline:before {
	 content: '';
	 position: absolute;
	 bottom: -1px;
	 left: 0;
	 width: 25%;
	 height: 1px;
	 max-width: 100px;
	 background: #ce5f31;
 }
 
 /* Article */
 .articles-box{
	display: flex;
 }
 .article {
	 margin-bottom: 2em;
 }
 .article:not(:last-child){
	margin-right: 1rem;
 }
 .article-title {
	 margin-bottom: 0.5em;
	 font-weight: 700;
 }
 
 .article-read-more a {
	 font-size: 0.85em;
	 font-weight: 700;
	 text-decoration: uppercase;
 }
 
 .article-read-more a:hover,
 .article-read-more a:focus {
	 text-decoration: none;
 }
 
 .article-read-more .fa {
	 margin-right: 0.5em;
	 color: #ce5f31;
 }
 
 .article-read-more:last-child {
	 margin-bottom: 0;
 }
 /* makinng three boxes */
 .boxes > div, .boxes-2 > .article{
	 background-color: #EDEDEE;
	 border: 2px solid #828282;
	 font-size: 1.4rem;
	 font-weight: 600;
	 height: 10rem;
	 width:5rem;
	 margin-bottom: 2rem;
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }
 
 .articles-box > .article{
	padding:2rem;
 }
 .articles-box > article:first-child{
	background-color: #DCDCDC;
 }
 .articles-box > article:last-child{
	border: 1px solid rgb(209, 70, 70);;
 }
 /* .box-1{
	background-color: #DCDCDC;
 }
 .box-2{
	border: 1px solid #E8E8E8;
 } */
 /* box for images  */
 .img {
	 width: 2rem;
	 background-color: green;
	 height: 2rem;
	 display: inline-block;
	 margin-right: 0.2rem;
 }
 @media screen and (max-width: 767px) {
	.articles-box >.article:not(:last-child) {
		margin-right: 0;
	}
	.boxes > div, .boxes-2 > .article{
		width:100%;
		height: 25%;
	}
 }
 @media screen and (min-width: 992px) {
 
	 .navbar-brand > img {
		max-height: 80px;
	 }
 }