/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

html,
body {
	font-family: "Source Sans Pro",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.site-footer {
	margin-top: 4em;
}

.site-footer p {
	border-top: 1px solid #dccdc6;
	padding-top: 2em;
	padding-bottom: 2em;
}

.navbar-brand > img {
	max-height: 40px;
	width: auto;
}

.navbar-light .navbar-nav .nav-link {
	color: #292b2c;
	font-weight: 600;
	text-transform: uppercase;
}

/* Buttons */
.btn {
	border-radius: 0.15em;
}

.btn-primary {
		background-color: #ce5f31;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #ef7f52;
}

.btn-secondary {
	color: #ce5f31;
}

.btn-secondary:hover,
.btn-secondary:focus {
	color: #ef7f52;
}

/* Alert */
.alert {
	position: relative;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid #dccdc6;
	border-radius: 0;
	font-size: 0.85rem;
	line-height: 1.3em;
	background: transparent;
	color: #292b2c;
}

.alert:before {
	content: '';
	position: absolute;
	left: -1px;
	top: 0;
	height: 100%;
	width: 1px;
	background: #ce5f31;
}

/* Jumbotron */
.jumbotron {
	border-radius: 0;
}

/* Headings */
.heading-underline {
	position: relative;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #dccdc6;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.heading-underline:before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 25%;
	height: 1px;
	max-width: 100px;
	background: #ce5f31;
}

/* Article */
.article {
	margin-bottom: 2em;
}

.article-title {
	margin-bottom: 0.5em;
	font-weight: 700;
}

.article-read-more a {
	font-size: 0.85em;
	font-weight: 700;
	text-decoration: uppercase;
}

.article-read-more a:hover,
.article-read-more a:focus {
	text-decoration: none;
}

.article-read-more .fa {
	margin-right: 0.5em;
	color: #ce5f31;
}

.article-read-more:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 992px) {

	.navbar-brand > img {
	   max-height: 80px;
	}
}

.primary-content > .jumbotron {
	background-image: url('https://images.unsplash.com/photo-1501236570302-906143a7c9f8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=560e0a540d582b6127db8b21b1363df2&auto=format&fit=crop&w=800&q=60');
	background-size: cover;
	background-position: right center;
}

.jumbotron {
	color: #ffffff;
}

p.article-lead {
	font-weight: 300;
	margin-bottom: 0;
}

.bike-more-info {
	padding: 6rem 0;
}

.bike-more-info .card {
	min-height: 250px;
	justify-content: center;
	align-items: center;
}

.learn-more h2 {
	text-align: center;
}

.learn-more  .card {
	padding: 2rem;
	margin: 15px;
}

.learn-more .card p {
	margin-bottom: 1rem;
}

.learn-more .card:first-of-type {
	background-color: rgba(0, 0, 0, 0.2);
}