/**
 *
 * Module: HTML/CSS
 * Lesson: 1
 * 
 */

 :root {
   --grey-dark: #292b2c;
   --grey-light: #e4e4e4;
   --orange-dark: #c05326;
   --orange-light: #f7eae4;
   --white: #fff;
 }

 .header__logo {
  width: 3.5em;
  height: 3.5em;
 }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  color: var(--grey-dark);
  font-size: 1rem;
  margin: 0 2rem;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0
}

.header,
.content,
.footer {
  margin: 0em;
}

/* Header */

.header {
  display: flex;
  align-items: center;
}



.header__logo {
  max-height: 90px;
  width: auto;
}

/* Navigation */

.navigation__list {
  display: flex;
  list-style: none;
  margin: 1rem;
}

.navigation__item {
  font-size: 0.75rem;
  margin: 0.5rem;
  padding: 1rem;
  height: 1.5rem;
  width: auto;
}

.navigation__link {
  color: var(--grey-dark);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}


/* Text styles */

.text-highlight {
  color: var(--orange-dark);
  font-weight: 600;
}

.arrow-right {
  display: inline-block;
  height: 0;
  width: 0;
  border: 6px solid var(--white);
  border-left-color: var(--orange-dark);
}


/* Buttons */

  /* INSERT BUTTON STYLES HERE */

button {
  background-color: #c05326;
  color: #fff;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.70rem;
}

#volunteer-btn {
  background-color: #fff;
  color: #c05326;
}

button:hover, button:focus {
  background-color: #934423;
}

#volunteer-btn:hover, #volunteer-btn:focus {
  background-color: #934423;
}



/* Content */

button {
  background-color: #c05326;
  color:#fff;
  padding: 0.5rem;
  width: auto;
  height: 2rem;
  border: none;
  border-radius: 0.20rem;
}
.afsha{
  display: flex;
  gap: 10px;
}

#volunteer-btn {
  background-color: #fff;
  color:#c05326 ;
}

button:hover {
  background-color: #934423;
}

#volunteer-btn:hover {
  background-color: #934423;
}

.content {
  display: flex;
  flex-direction: column;
}

/* Alert */

.alert {
  background-color: var(--orange-light);
  border-left: 4px solid var(--orange-dark);
  border-radius: 4px;
  font-size: 0.85rem;
  line-height: 1.3;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
}

/* hero */

.hero {
  background-image: url("../images/header-bike.jpg");
  background-color: var(--grey-light);
  padding: 3rem;
}

.hero h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: white;
}




.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  border: 2px solid #292b2c;
  padding: 2.5rem 1.75rem;
  margin: 3rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}

div:first-child span{
  margin-left: 0;
  background-color: #ddd;
}

div span:last-child {
  margin-right: 0;
  border: 1px solid #ddd;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: white;
}


/* Headings */

.heading-underline {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--orange-light);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-underline:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 25%;
  height: 2px;
  max-width: 100px;
  background: var(--orange-dark);
}


/* Article */

.main_article__section {
  display: flex;
  flex-direction: row;
  width: 45rem;
  height: 20 rem;
  gap: 10px;
}

article {
  margin-bottom: 1rem;
  border: grey solid 0.1rem;
  padding: 1rem;
}

aside {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  padding:  0 0 2rem 2rem;
}

.aside_article__section {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  border: grey solid 0.1rem;
  padding: 0;
  width: 350px;
  height: auto;
}

.article__content {
  display:flex;
  flex-direction: column;
  margin: 1rem;
  
}

.article__title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.article__title-link {
  text-decoration: none;
  color: var(--orange-dark);
}

.article__summary {
  margin-top: 0;
  margin-bottom: 1rem;
}

.article__thumbnail {
  object-fit: contain;
  width: 5rem;
}


.article__read-more {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--orange-dark);
  text-decoration: none;
}

.article__read-more a:hover,
.article__read-more a:focus {
  text-decoration: underline;
}

.fa {
  margin-right: 0.5rem;
  color: var(--orange-dark);
}

.facebook-link {
  color: var(--orange-dark);
  text-align: right;
}

/* Sidebar */



/* Footer */

.footer {
  margin-top: 0.5rem;
}

.footer__content {
  border-top: 2px solid var(--orange-light);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__content {
  padding: 1.5rem 0 0 0;
  justify-content: center;
  font-size: 0.85rem;
}

/* Media queries */

@media screen and (min-width: 992px) {
  .content {
    flex-direction: row;
  }

  .main {
    padding-right: 2rem;
  }
}
