/**
 * Module: HTML/CSS
 * Lesson: 1
 */

/* Root variables for color palette */
:root {
  --grey-dark: #292b2c;
  --grey-light: #e4e4e4;
  --orange-dark: #c05326;
  --orange-light: #f7eae4;
  --white: #fff;
}

/* Reset default margin for body element */
body {
  margin: 0;
}

/* Default font styles for body and button elements */
body,
button {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  color: #292b2c;
  font-size: 1rem;
}

/* Reset margins for heading elements */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Reset margins for paragraphs */
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* General styling for header, content, and footer sections */
.header,
.content,
.footer {
  padding: 0 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header section styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.header__logo {
  max-height: 90px;
  width: auto;
}

/* Navigation menu styles */
.navigation__list {
  display: flex;
  list-style: none;
}

.navigation__item {
  padding: 0.5rem 0;
}

.navigation__link:hover,
.navigation__link:active {
  color: #c05326;
}

.navigation__link {
  color: #292b2c;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 2rem;
  transition: color ease-in-out 0.3s;
}

/* Highlighted text styles */
.text-highlight {
  color: #c05326;
  font-weight: 600;
}

/* Arrow icon styles */
.arrow-right {
  display: inline-block;
  height: 0;
  width: 0;
  border: 6px solid #fff;
  border-left-color: #c05326;
}

/* Button styles */
.donate-btn {
  background-color: #c05326;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color ease-in-out 0.3s;
}

.donate-btn:hover,
.donate-btn:active {
  background-color: rgb(219, 204, 204);
  color: #c05326;
}

/* Volunteer button styles */
.volunteer-btn {
  background-color: white;
  color: #c05326;
  text-decoration: none;
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color ease-in-out 0.3s;
}

.volunteer-btn:hover,
.volunteer-btn:active {
  background-color: #c05326;
  color: white;
}

/* Content section styles */
.content {
  display: flex;
  flex-direction: column;
}

/* Alert section styles */
.alert {
  background-color: #f7eae4;
  border-left: 4px solid #c05326;
  border-radius: 4px;
  font-size: 0.85rem;
  line-height: 1.3;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
}

/* Message section styles */
.hero {
  background-image: url("../images/header-bike.jpg");
  background-color: #e4e4e4;
  height: 55.2%;
  background-size: auto;
  color: white;
  padding-left: 4.4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.hero h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Heading with underline styles */
.heading-underline {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #f7eae4;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Underline before heading styles */
.heading-underline:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 25%;
  height: 2px;
  max-width: 100px;
  background: #c05326;
}

/* Article section styles */
.articles-container {
  display: flex;
  gap: 20px;
}

/* Aside article styles */
.article-aside {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 18px;
  border: 2px solid #dee2e6;
  padding: 20px 14px;
 }

/* Main article styles */
.article {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border: 2px solid #dee2e6;
  padding: 20px 14px;
}

.article__title {
  font-size: 1rem;
  font-weight: 700;
  padding-right: 12%;
}



.article__title-link {
  text-decoration: none;
  color: #c05326;
}

.article__summary {
  margin-top: 0;
}

.article__thumbnail {
  object-fit: contain;
  width: 5rem;
  display: flex;
}


.article__read-more {
  margin-top: 0;
}

.article__read-more a {
  font-size: 0.85rem;
  font-weight: 700;
  color: #c05326;
  text-decoration: none;
}

.article__read-more a:hover,
.article__read-more a:focus {
  text-decoration: underline;
}

/* Facebook icon styles */
.fa {
  margin-right: 0.5rem;
  color: #c05326;
}

/* Facebook link styles */
.facebook-link {
  color: #c05326;
  margin-left: auto;
}

/* Sidebar section styles */
.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}



/* Footer section styles */
.footer {
  margin-top: 10.8rem;
  border-top: 2px solid #f7eae4;
  width: 76%;
}

.footer_content {
  padding: 2rem 2rem 0 2rem;
}

.footer p {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 0.85rem;
}

/* Media query for larger screens */
@media screen and (min-width: 992px) {
  .content {
    flex-direction: row;
  }

  .main {
    padding-right: 2rem;
  }
}
