/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

html,
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size:16px;
}

button {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1rem;
}
button:hover, button:focus{
background-color: #934423;
}

/* Navigation */


.navbar-brand > img {
  max-height: 40px;
  width: auto;
}

.navbar-light .navbar-toggler {
  border: 0;
  right: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #121314;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 2rem;
  padding-right: 2rem;

  /* Challenge: can you make the navigation links orange on hover? */
}

/* Buttons */

.button-donate{
  background-color: #c05326;
}

.volunteer-button{
  background-color:white;
  color:#c05326;
}

/* Alert */

.alert {
  position: relative;
  margin-bottom: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid #dccdc6;
  border-radius: 0;
  font-size: 0.85rem;
  line-height: 1.3em;
  background: transparent;
  color: #292b2c;
}

.alert:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #c05326;
}

/* Jumbotron */

.jumbotron {
  background-image: url("/home/coder/Documents/GitHub/bikes-for-refugees/images/header-bike.jpg");
  border-radius: 0;
  color: #fff;
}


/* Headings */

.heading-underline {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dccdc6;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-underline:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 25%;
  height: 1px;
  max-width: 100px;
  background: #c05326;
}

.box-container{
  display: flex;
  justify-content: space-between;
}

.box-child{
  margin: 10px; 
}



/* Article */

.sidebar{
  position: absolute;
  top: 10%;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  margin-left: 67%;
 
  
}
.article {
  display: flex;
  align-content: space-between;
  margin-bottom: 2em;
  border: 1px solid #dccdc6;
  padding: 1em;
}

.article__image {
  display: inline-block;
  align-content: flex-start;
  object-fit: contain;
  width: 5rem;
}

.flex-container{
padding: 0.5rem;

}
.article__title {
  
  margin-bottom: 0.5em;
  font-size: 1rem;
  font-weight: 700;
}

.article__read-more a {
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: uppercase;
}

.article__read-more a:hover,
.article__read-more a:focus {
  text-decoration: none;
}

.article__read-more .fa {
  margin-right: 0.5em;
  color: #c05326;
}

.article__read-more:last-child {
  margin-bottom: 0;
}

/* Footer */

.footer {
  margin-top: 2em;
}

.footer p {
  border-top: 1px solid #dccdc6;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Media queries */

@media screen and (min-width: 992px) {
  .navbar-brand > img {
    max-height: 80px;
  }
}

/* responsive button*/

@media screen and (max-width:320px){
  .jumbotron button{
   margin-right: 400px;
   margin-bottom: 10px;
   background-color: rgb(209, 66, 23);
   color: rgb(36, 15, 5);
   font-size: 1.5rem;
 
  }
  .jumbotron{
    background-color: orange;
  }
  .jumbotron button:hover, :focus{
    background-color: white;
  }
 }

 /*Fluid typography formula*/

@media (min-width: 640px) and (max-width: 1439px) {
  font-size: calc(16px + (23 - 16) * (100vw - 640px) / (1439- 640)); 
 }

 /* max font size*/

 @media (min-width: 1440px) {
   font-size: 23px;
 }

