/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

html,
body {
	font-family: "Source Sans Pro",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	width: 100%;
	height:100%;
}
/* Jumbotron */
.jumbotron {
	border-radius: 0;
	background-image: url('../images/header-bike.jpg');
	color: #f5f5ed;
	      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
}
.jumbotron:hover {
	    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}
.jumbotron h1{
	font-size:  3.5rem;
	font-weight: 300;
}


.site-footer p {
	border-top: 1px solid #dccdc6;
	padding-top: 2em;
	padding-bottom: 2em;
}

.navbar-brand > img {
	max-height: 40px;
	width: auto;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0px 15px;
	border-radius: 3px;
	min-width: 150px;
	text-align: center;
  }
.nav-link:hover {
	background-color: #ce5f31;
  	color: white;
	font-weight: 600;
	text-transform: uppercase;
  }
/* Buttons */
.btn {
	border-radius: 0.15em;
}
.btn:hover {
	background-color: #ce5f31;
}
/* Alert */
.alert {
	position: relative;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid #dccdc6;
	border-radius: 0;
	font-size: 0.85rem;
	line-height: 1.3em;
	background: transparent;
	color: #292b2c;
}

.alert:before {
	content: '';
	position: absolute;
	left: -1px;
	top: 0;
	height: 100%;
	width: 1px;
	background: #ce5f31;
}
/* Headings */
.heading-underline {
	position: relative;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #dccdc6;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.heading-underline:before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 25%;
	height: 1px;
	max-width: 100px;
	background: #ce5f31;
}
.box {
  min-height: 20vh;
  width: 90%;
  background-color: lightgray;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 3% auto;
  padding: 1%;
}
/* Article */
.article {
	margin-bottom: 2em;
	margin:1% 1%;
	padding: 1%;
}
.article.gray {
	background-color: #DDDDDD;
}
.article.border {
	border: 1px solid #DDDDDD;
}
.article-title {
	margin-bottom: 0.5em;
	font-weight: 700;
}

.article-read-more a {
	font-size: 0.85em;
	font-weight: 700;
	text-decoration: uppercase;
}

.article-read-more a:hover,
.article-read-more a:focus {
	text-decoration: none;
}

.article-read-more .fa {
	margin-right: 0.5em;
	color: #ce5f31;
}

.article-read-more:last-child {
	margin-bottom: 0;
}
.article-title--sidebar {
	font-size: 0.8rem;
	font-weight: 700;
}
.img-fluid--sidebar {
	margin-top: 25%;
	width: 100%;
	min-height: 70px;
}
.site-footer {
	margin-top: 4em;
}
@media screen and (min-width: 992px) {

	.navbar-brand > img {
	   max-height: 80px;
	}
	.box {
		width: 100%;
	}
}
