/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

html,
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

button {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

/* Navigation */

.navbar-brand > img {
  max-height: 40px;
  width: auto;
}

.navbar-light .navbar-toggler {
  border: 0;
  right: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #292b2c;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  /* padding: 0rem 1rem; */

  /* Challenge: can you make the navigation links orange on hover? */
}

/* Buttons */

/* INSERT BUTTON STYLES HERE */
.btn-donate{
  background-color: #C05326;
}
.btn-vol{
  color: #C05326;
  background-color: #fff;
}

button:hover, 
button:focus {
  background-color: #934423;
}
/* Alert */

.alert {
  position: relative;
  margin-bottom: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid #dccdc6;
  border-radius: 0;
  font-size: 0.85rem;
  line-height: 1.3em;
  background: transparent;
  color: #292b2c;
}

.alert:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #c05326;
}

/* Jumbotron */

.jumbotron {
  background-image: url("../images/header.jpg");
  border-radius: 0;
  color: #fff;
}

/* Headings */

.heading-underline {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dccdc6;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-underline:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 25%;
  height: 1px;
  max-width: 100px;
  background: #c05326;
}

/* Article */

.article {
  margin-bottom: 2em;
}

.article__image {
  object-fit: contain;
  width: 5rem;
}

.article__title {
  margin-bottom: 0.5em;
  font-size: 1rem;
  font-weight: 700;
}

.article__read-more a {
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: uppercase;
}

.article__read-more a:hover,
.article__read-more a:focus {
  text-decoration: none;
}

.article__read-more .fa {
  margin-right: 0.5em;
  color: #c05326;
}

.article__read-more:last-child {
  margin-bottom: 0;
}

/* Footer */

.footer {
  margin-top: 2em;
}

.footer p {
  border-top: 1px solid #dccdc6;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Media queries */

@media screen and (min-width: 992px) {
  .navbar-brand > img {
    max-height: 80px;
  }
}


/* spacing questions */

button{
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}