/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

html,
body {
	font-family: "Source Sans Pro",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.site-footer {
	margin-top: 4em;
}

.site-footer p {
	border-top: 1px solid #dccdc6;
	padding-top: 2em;
	padding-bottom: 2em;
}

.navbar-brand > img {
	max-height: 40px;
	width: auto;
}

.navbar-light .navbar-nav .nav-link {
	color: #292b2c;
	font-weight: 600;
	text-transform: uppercase;
}

/* Buttons */
.btn {
	border-radius: 0.15em;
	
}
.btn-orange:link{
	background-color: #ce5f31;
	text-decoration: none;
	color: white;
}
.btn-orange:visited{
	background-color: #ce5f31;
	text-decoration: none;
	color:white;
}
.btn-orange:hover{
	background-color: #ce7955;
}
/* Alert */
.alert {
	position: relative;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid #dccdc6;
	border-radius: 0;
	font-size: 0.85rem;
	line-height: 1.3em;
	background: transparent;
	color: #292b2c;
}

.alert:before {
	content: '';
	position: absolute;
	left: -1px;
	top: 0;
	height: 100%;
	width: 1px;
	background: #ce5f31;
}

/* Jumbotron */
.jumbotron {
	border-radius: 0;
	background-image: url("../images/header-bike.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	color: white;

}

/* Headings */
.heading-underline {
	position: relative;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #dccdc6;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.heading-underline:before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 25%;
	height: 1px;
	max-width: 100px;
	background: #ce5f31;
}
.flex-container{
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}
.flex-elem{
	/*width: 150px;
	height: 150px;*/
	text-align: center;
	text-transform: capitalize;
	border: #ce5f31 1px solid;
	background-color: aqua;
	box-sizing: border-box;
	padding:4rem 0;
	margin-bottom: 3px;

}
/* Article */
.primary-content .articles{
	display: flex;
	justify-content: space-between;
}

.primary-content  .article{
 padding: 1rem;
}
.articles{
	box-sizing: border-box;
	
}
.article {
	margin-bottom: 2em;
	
}

.primary-content  .article:first-child{
	background-color: #c6cbce;
	
}
.primary-content  .article:last-child{
	border: #949697 1px solid;
    
}
.article-title {
	margin-bottom: 0.5em;
	font-weight: 700;
}

.article-read-more a {
	font-size: 0.85em;
	font-weight: 700;
	text-decoration: uppercase;
}

.article-read-more a:hover,
.article-read-more a:focus {
	text-decoration: none;
}

.article-read-more .fa {
	margin-right: 0.5em;
	color: #ce5f31;
}

.article-read-more:last-child {
	margin-bottom: 0;
}

.sidebar-content  .articles .article{
	
}
@media screen and (min-width: 992px) {

	.navbar-brand > img {
	   max-height: 80px;
	}
}